@model Brand

<div>
<h1>Slider Update</h1>
    <form class="container p-5" method="post" enctype="multipart/form-data">
        
         <img style="width:200px" src="~/assets/imgs/banner/@Model.ImageName"/>
          <div class="form-group">
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control" id="exampleInputPassword1">
            <span class="text-danger" asp-validation-for="Image"></span>
         </div>
         <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>