@model ReadProductVM

<h1>@Model.Id</h1>
<h1>@Model.Name</h1>
<h1>@Model.Price</h1>
<h1>@Model.Description</h1>
@foreach(Image item in Model.Images)
{
    <img style="width:200px" src="~/assets/imgs/shop/@item.ImageName"/>
}
